body {
  /* Really nice color for this theme: #A0A0A0 */

  margin: 0;
  font-size: 22px;
}

button {
  margin: 10px;
  font-size: 15px;
  border-radius: 5px;
}

#optionSpace {
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #967B89;
  float: left;
  border-bottom: 5px solid #5E344A;
  padding: 5px;
  padding-left: 10px;
  z-index:2;
  position: absolute;
}

#pathLoadSpace {
  float: left;
}

#imageAnalysisSpace {
  float: right;
  margin-right: 20px;
}

#imageSpace {
  background-color: #9FB0B3;
  z-index:-1;
  position:absolute;
}

#imageMaskSpace{
  z-index:1;
  opacity: 0;
  position: absolute;
  background-color: red;
  /* background-color: #18C7DE; */
  /* javascript to make this same size as imageSpace */
}

.pix {
  background-color: #ff33cc;
  position: absolute;
  z-index:2;
}
